html, body {
  margin: 0;
  padding: 0;
}
h1{
  color: "aqua"
}
canvas {
  display: block;
}
body{
  background-color: black;
  text-align: center;
  margin-left: 340px;
  margin-top: 200px;
}
@font-face {
  font-family: 'minescript';
  src: url('Minecraft\ Regular.woff') format('woff');;
}